body {
    font-family: Arial, sans-serif;
    background-image: url(wallpaper.jpg);
}

.equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.miembro {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.miembro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.miembro h2 {
    margin: 0;
}

.miembro p {
    color: #777;
}
